<!DOCTYPE html>
<html>
<head>
  <title>Live Chart</title>
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

</head>
<body>
  <canvas id="liveChart"></canvas>

  <input type="text" id="messageInput" placeholder="Enter a Symbol...">
  <button onclick="sendMessage()">Search</button>

  <script>
    const socket = new WebSocket('ws://localhost:8765');
    const ctx = document.getElementById('liveChart').getContext('2d');
    let chart = null;
    const gradient = ctx.createLinearGradient(0, 0, 0, 400);
    gradient.addColorStop(0, 'rgb(152,229,229)');
      gradient.addColorStop(1, 'rgb(213,252,252)');

    // Function to create or update the chart
    function createOrUpdateChart() {
      if (chart) {
        chart.destroy(); // Clear the existing chart
      }

      chart = new Chart(ctx, {
        type: 'line',
        data: {
          labels: [],
          datasets: [{
            label: 'Price',
            data: [],
            backgroundColor: gradient,
            borderColor: 'rgba(75, 192, 192, 1)',
            borderWidth: 4,
            fill: true
          }]
        },
        options: {
          responsive: true,
          scales: {
            x: {
              display: true,
              grid: {
                display: false
              }
            },
            y: {
              display: true,
              grid: {
                display: false
              }
            }
          },
          elements: {
            line: {
              borderWidth: 2,
              tension: 0.4
            },
            point: {
              radius: 0,
              hoverRadius: 4
            }
          },
          interaction: {
            mode: 'nearest',
            intersect: false
          },
          plugins: {
            tooltip: {
              enabled: true
            },
          }
        }
      });
    }

    // Function to send a message to the WebSocket server
    function sendMessage() {
      const messageInput = document.getElementById('messageInput');
      const message = messageInput.value;
      socket.send(message);
      messageInput.value = ''; // Clear the input field
        createOrUpdateChart();
    }

    socket.onmessage = function(event) {
      const data = parseFloat(event.data);
      const time = new Date().toLocaleTimeString();
      chart.data.labels.push(time);
      chart.data.datasets[0].data.push(data);
      chart.update();
    };

    createOrUpdateChart(); // Create the initial chart
  </script>
</body>
</html>
